@import url('https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import "variable";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 1rem/1.5 'Open Sans', sans-serif;
    color: $dark;
    background-color: $lighter;
}

a {
    text-decoration: none;
    background-color: transparent;
}

h1, h2 {
    font-family: 'Proza Libre', sans-serif;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;

    @media (min-width: $min-sm) {
        font-size: 2.4rem;
    }
}

h2 {
    font-size: 1.8rem;

    @media (min-width: $min-sm) {
        font-size: 2rem ;
    }
}

h3 {
    font-size: 1.2rem;

    @media (min-width: $min-sm) {
        font-size: 1.4rem ;
    }
}

// p {
//     @media (min-width: $min-sm) {
//         font-size: 1.2rem;
//     }
// }