@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import "variable";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 1rem/1.5 'Roboto', sans-serif;
    color: $dark;
}

a {
    text-decoration: none;
    background-color: transparent;
}

h1 {
    font-size: 2.2rem;
    font-weight: 700;

    @media (min-width: $min-sm) {
        font-size: 2.7rem;
    }
}

h2 {
    font: 1.8rem 'Domine', serif;

    @media (min-width: $min-sm) {
        font: 2rem 'Domine', serif;
    }
}

p {
    @media (min-width: $min-sm) {
        font-size: 1.2rem;
    }
}