@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 400 1rem/1.5 'Open Sans', sans-serif;
  color: #343a40;
}

a {
  text-decoration: none;
  background-color: transparent;
}

h1, h2 {
  font-family: 'Proza Libre', sans-serif;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.7rem;
  }
}

h2 {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  p {
    font-size: 1.2rem;
  }
}

.wrapper {
  position: relative;
  padding: 0 15px;
  width: 100%;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 0 70px;
  }
}

.wrapper.gradient {
  background: -webkit-gradient(linear, left top, right top, from(#2b5876), to(#4e4376));
  background: linear-gradient(to right, #2b5876, #4e4376);
}

.wrapper.footer {
  height: 50px;
  text-align: center;
}

.navbar {
  width: 100%;
  height: 100px;
}

.navbar .nav-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.navbar .nav-items .nav-link {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  padding: 7px 12px;
  margin-right: 15px;
  color: #f8f9fa;
  z-index: 0;
}

.navbar .nav-items .nav-link:first-child {
  margin-right: auto;
  color: #343a40;
  font: 1.5rem 'Caveat', cursive;
}

.navbar .nav-items .nav-link:last-child {
  margin-right: 0;
}

.navbar .nav-items .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  margin: auto;
  height: 2px;
  background: #f8f9fa;
  -webkit-transition: width 0.3s cubic-bezier(0.21, 0.9, 0.22, 1);
  transition: width 0.3s cubic-bezier(0.21, 0.9, 0.22, 1);
}

.navbar .nav-items .nav-link:hover:not(:first-child)::after {
  width: 100%;
  -webkit-transition: width 0.8s cubic-bezier(0.21, 0.9, 0.22, 1);
  transition: width 0.8s cubic-bezier(0.21, 0.9, 0.22, 1);
}

@media (max-width: 575.98px) {
  .navbar .nav-items {
    position: fixed;
    padding-top: 40px;
    top: 0;
    right: 0;
    background: #17a2b8;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-clip-path: circle(0 at 92.2% 3.3%);
            clip-path: circle(0 at 92.2% 3.3%);
    -webkit-transition: -webkit-clip-path 1.2s ease-out;
    transition: -webkit-clip-path 1.2s ease-out;
    transition: clip-path 1.2s ease-out;
    transition: clip-path 1.2s ease-out, -webkit-clip-path 1.2s ease-out;
    z-index: 2;
    opacity: 0.9;
  }
  .navbar .nav-items .nav-link {
    padding: 0.8rem 100%;
    -webkit-transform: translateX(250px);
            transform: translateX(250px);
    opacity: 0;
    margin-right: 0;
  }
  .navbar .nav-items .nav-link:nth-child(1) {
    display: none;
  }
  .navbar .nav-items .nav-link:nth-child(2) {
    -webkit-transition: opacity 0.5s ease 0.2s, -webkit-transform 1.2s ease;
    transition: opacity 0.5s ease 0.2s, -webkit-transform 1.2s ease;
    transition: opacity 0.5s ease 0.2s, transform 1.2s ease;
    transition: opacity 0.5s ease 0.2s, transform 1.2s ease, -webkit-transform 1.2s ease;
  }
  .navbar .nav-items .nav-link:nth-child(3) {
    -webkit-transition: opacity 0.5s ease 0.3s, -webkit-transform 1.2s ease;
    transition: opacity 0.5s ease 0.3s, -webkit-transform 1.2s ease;
    transition: opacity 0.5s ease 0.3s, transform 1.2s ease;
    transition: opacity 0.5s ease 0.3s, transform 1.2s ease, -webkit-transform 1.2s ease;
  }
  .navbar .nav-items .nav-link:nth-child(4) {
    -webkit-transition: opacity 0.5s ease 0.4s, -webkit-transform 1.2s ease;
    transition: opacity 0.5s ease 0.4s, -webkit-transform 1.2s ease;
    transition: opacity 0.5s ease 0.4s, transform 1.2s ease;
    transition: opacity 0.5s ease 0.4s, transform 1.2s ease, -webkit-transform 1.2s ease;
  }
  .navbar .nav-items .nav-link:nth-child(5) {
    -webkit-transition: opacity 0.5s ease 0.5s, -webkit-transform 1.2s ease;
    transition: opacity 0.5s ease 0.5s, -webkit-transform 1.2s ease;
    transition: opacity 0.5s ease 0.5s, transform 1.2s ease;
    transition: opacity 0.5s ease 0.5s, transform 1.2s ease, -webkit-transform 1.2s ease;
  }
  .navbar .nav-items .nav-link:nth-child(6) {
    -webkit-transition: opacity 0.5s ease 0.6s, -webkit-transform 1.2s ease;
    transition: opacity 0.5s ease 0.6s, -webkit-transform 1.2s ease;
    transition: opacity 0.5s ease 0.6s, transform 1.2s ease;
    transition: opacity 0.5s ease 0.6s, transform 1.2s ease, -webkit-transform 1.2s ease;
  }
  .navbar .nav-items .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: unset;
    margin: unset;
    height: unset;
    background: transparent;
    z-index: -1;
    -webkit-transition: background 0.6s cubic-bezier(0.21, 0.9, 0.22, 1);
    transition: background 0.6s cubic-bezier(0.21, 0.9, 0.22, 1);
  }
  .navbar .nav-items .nav-link:hover::after {
    background: #f8f9fa;
    -webkit-transition: background 1.5s cubic-bezier(0.21, 0.9, 0.22, 1);
    transition: background 1.5s cubic-bezier(0.21, 0.9, 0.22, 1);
  }
  .navbar .nav-items .nav-link:hover {
    color: #343a40;
  }
  .navbar .nav-items .nav-link.open {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .navbar .nav-items.open {
    -webkit-clip-path: circle(70vh at 50% 50%);
            clip-path: circle(70vh at 50% 50%);
  }
  .navbar .nav-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 24px;
    cursor: pointer;
    z-index: 3;
  }
  .navbar .nav-toggle .line {
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #f8f9fa;
    opacity: 1;
    -webkit-transition: opacity 0.6s ease, -webkit-transform 0.5s;
    transition: opacity 0.6s ease, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.6s ease;
    transition: transform 0.5s, opacity 0.6s ease, -webkit-transform 0.5s;
  }
  .navbar .nav-toggle .line:nth-child(1) {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
  }
  .navbar .nav-toggle .line:nth-child(3) {
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
  }
  .navbar .nav-toggle .line.open:nth-child(1) {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(45deg) translate(-2px, -1px);
            transform: rotate(45deg) translate(-2px, -1px);
  }
  .navbar .nav-toggle .line.open:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px);
  }
  .navbar .nav-toggle .line.open:nth-child(3) {
    -webkit-transform-origin: 0 100%;
            transform-origin: 0 100%;
    -webkit-transform: rotate(-45deg) translate(-3px, 1px);
            transform: rotate(-45deg) translate(-3px, 1px);
  }
  .navbar .nav-toggle.open {
    position: fixed;
    top: 10px;
    right: 15px;
  }
}

main .wrapper {
  margin: 80px 0;
}

main .wrapper:first-child {
  margin: unset;
}

main .wrapper:nth-child(2) {
  margin: 50px 0 80px 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 100px);
}

.hero .hero-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-align: center;
}

.hero .hero-text h1 {
  color: #17a2b8;
  margin: 30px 0 20px 0;
}

.hero .hero-text p {
  color: #f8f9fa;
  line-height: 2;
  margin-bottom: 20px;
}

.hero .hero-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.hero .hero-img .hero-img-detail {
  width: 70%;
  height: auto;
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .hero .hero-img .hero-img-detail {
    width: 50%;
  }
}

@media (min-width: 768px) {
  .hero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .hero-text {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    text-align: left;
  }
  .hero .hero-text h1 {
    margin-bottom: 20px;
  }
  .hero .hero-text p {
    margin-bottom: 25px;
  }
  .hero .hero-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-bottom: 0;
  }
}

.skills-icons {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills-icons div {
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

.skills-icons i {
  font-size: 5em;
  margin: 0 15px;
}

.skills-icons i:hover {
  color: #17a2b8;
}

.project-card-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 30px 0;
}

.project-card-main .project-card {
  -webkit-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.3);
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 20px 50px;
}

.project-card-main .project-card:hover {
  -webkit-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.6);
}

@media (min-width: 992px) {
  .project-card-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-card-main .project-card {
    -ms-flex-preferred-size: 49.3%;
        flex-basis: 49.3%;
  }
}

.experience-card-main {
  margin: 30px 0;
}

.experience-card-main .experience-card {
  -webkit-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.3);
  padding: 20px 50px;
}

.experience-card-main .experience-card:hover {
  -webkit-box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.6);
}

.experience-card-main .experience-card .experience-card-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.experience-card-main .experience-card .experience-card-name .experience-card-name-left-logo {
  width: 48px;
  height: 48px;
}

.experience-card-main .experience-card .experience-card-name .experience-card-name-left-logo img {
  width: 100%;
}

.contact-icon {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-icon i {
  font-size: 4em;
  margin: 0 15px;
}

.contact-icon i:hover {
  color: #17a2b8;
}

section .section-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

section .section-menu span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .section-menu span::after {
  content: "";
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  width: 2000px;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#2b5876), to(#4e4376));
  background: linear-gradient(to right, #2b5876, #4e4376);
}

.hero-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 8px 20px;
  border-radius: 4px;
  border: 2px solid transparent;
  background-color: transparent;
  color: #f8f9fa;
  border-color: #17a2b8;
  z-index: 0;
}

.hero-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #17a2b8;
  z-index: -1;
  -webkit-transition: width 0.4s cubic-bezier(0.21, 0.9, 0.22, 1);
  transition: width 0.4s cubic-bezier(0.21, 0.9, 0.22, 1);
}

.hero-btn:hover::after {
  width: 100%;
}

.hero-btn:active, .hero-btn:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}
