@import "variable";
@import "global";

.hero-bg {
    background: $primaryGradient;
}

.footer-bg {
    padding: 30px 15px;
    text-align: center;
}

@media (min-width: 768px) {
    .footer-bg {
        padding: 30px 70px;
    }
}

//* HEADER
.container {
    position: relative;
    
    .navbar {
        width: 100%;
        height: 100px;
        padding: 0 70px;
        
        .nav-items {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            .nav-link {
                position: relative;
                display: inline-block;
                font-size: 1.2rem;
                padding: 7px 12px;
                margin-right: 15px;
                color: $light;
                z-index: 0;

                &:first-child {
                    margin-right: auto;
                }

                &:last-child {
                    margin-right: 0;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 0;
                    margin: auto;
                    height: 2px;
                    background: $light;
                    transition: width 0.3s cubic-bezier(0.21, 0.9, 0.22, 1);
                }

                &:hover::after {
                    width: 100%;
                    transition: width 0.8s cubic-bezier(0.21, 0.9, 0.22, 1);
                }
            }
        }

        @media (max-width: 575.98px) {
            .nav-toggle {
                position: absolute;
                top: 10px;
                right: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 50px;
                height: 24px;
                cursor: pointer;
                z-index: 3;

                .line {
                    width: 30px;
                    height: 4px;
                    border-radius: 3px;
                    background: $light;
                    opacity: 1;
                    transition: transform 0.5s, opacity 0.6s ease;

                    &:nth-child(1) {
                        transform-origin: 0 0;
                    }

                    &:nth-child(3) {
                        transform-origin: 0 100%;
                    }

                    &.open:nth-child(1) {
                        transform-origin: 0 0;
                        transform: rotate(45deg) translate(-2px, -1px);
                    }

                    &.open:nth-child(2) {
                        opacity: 0;
                        transform: translateX(-15px);
                    }

                    &.open:nth-child(3) {
                        transform-origin: 0 100%;
                        transform: rotate(-45deg) translate(-3px, 1px);
                    }
                }

                &.open {
                    position: fixed;
                    top: 10px;
                    right: 15px;
                }
            }

            .nav-items {
                position: fixed;
                padding-top: 40px;
                top: 0;
                right: 0;
                background: $primaryGradient;
                flex-direction: column;
                justify-content: flex-start;
                clip-path: circle(50px at 93% -10%);
                transition: clip-path 1.2s ease-out;
                z-index: 2;
                opacity: .9;

                .nav-link {
                    padding: 0.8rem 100%;
                    transform: translateX(250px);
                    opacity: 0;
                    margin-right: 0;

                    &:nth-child(1) {
                        transition: opacity 0.5s ease 0.2s, transform 1.2s ease;
                    }

                    &:nth-child(2) {
                        transition: opacity 0.5s ease 0.3s, transform 1.2s ease;
                    }

                    &:nth-child(3) {
                        transition: opacity 0.5s ease 0.4s, transform 1.2s ease;
                    }

                    &:nth-child(4) {
                        transition: opacity 0.5s ease 0.5s, transform 1.2s ease;
                    }

                    &:nth-child(5) {
                        transition: opacity 0.5s ease 0.6s, transform 1.2s ease;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: unset;
                        margin: unset;
                        height: unset;
                        background: transparent;
                        z-index: -1;
                        transition: background .6s cubic-bezier(0.21, 0.9, 0.22, 1);
                    }
    
                    &:hover::after {
                        background: $light;
                        transition: background 1.5s cubic-bezier(0.21, 0.9, 0.22, 1);
                    }

                    &:hover {
                        color: $dark;
                    }

                    &.open {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }

                &.open {
                    clip-path: circle(70vh at 50% 50%);
                }
            }
        }
    }
}
//* END HEADER

//* MAIN

//! HERO
.hero {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);

    .hero-text {
        order: 1;
        text-align: center;
    }

    .hero-img {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        .hero-img-detail {
            width: 70%;
            height: auto;
        }
    
        @media (min-width: 576px) {
            .hero-img-detail {
                width: 50%;
            }
        }
    }
}

@media (min-width: 768px) {
    .hero {
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .hero-text {
            order: 0;
            flex-basis: 50%;
            text-align: left;
        }

        .hero-img {
            order: 1;
            flex-basis: 50%;
            margin-bottom: 0;

            .hero-img-detail {
                width: 70%;
            }
        }
    }
}
//! END HERO

//! SKILL
.skills-icons {
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    i {
        font-size: 7em;
        margin: 0 15px;

        &:hover {
            color: $primaryBtn;
        }
    }
    
}
//! END SKILL

//! PROJECTS
.project-card-main {
    display: flex;
    flex-direction: column;
    width: 100%;

    .project-card {
        box-shadow: 0 10px 30px -15px rgba(0,0,0,.3);
        margin: 5px 0;
        flex-basis: 100%;

        &:hover {
            box-shadow: 0 10px 30px -15px rgba(0,0,0,.6);
        }
    }
}

@media (min-width: 992px) {
    .project-card-main {
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    
        .project-card {
            flex-basis: 49.3%;
        }
    }
}
//! END PROJECTS

//! EXPERIENCE
.experience-card-main {

    .experience-card {
        box-shadow: 0 10px 30px -15px rgba(0,0,0,.3);
        margin: 5px 0;

        &:hover {
            box-shadow: 0 10px 30px -15px rgba(0,0,0,.6);
        }

        .experience-card-name {
            display: flex;

            .experience-card-name-left-logo {
                width: 48px;
                height: 48px;

                img {
                    width: 100%;
                }
            }
        }
    }
}
//! END EXPERIENCE

//! CONTACT
.contact-icon {
    margin: 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    i {
        font-size: 4em;
        margin: 0 15px;

        &:hover {
            color: $primaryBtn;
        }
    }
}
//! END CONTACT
//* END MAIN

//* SECTION MENU TITLE
section{
    .section-menu {
        display: flex;
        overflow: hidden;

        span {
            position: relative;
            display: flex;
            align-items: center;

            &::after {
                content: '';
                position: absolute;
                left: calc(100% + 10px);
                top: 50%;
                width: 2000px;
                height: 2px;
                background: $primaryGradient;
            }
        }
        
    }
}
//* END SECTION MENU

//* BUTTON
.hero-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    user-select: none;
    padding: 8px 20px;
    border-radius: 4px;
    border: none;
    outline: none;
    color: $light;
    background-color: $primaryBtn;
    z-index: 0;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        border-radius: 4px;
        color: $light;
        background-color: $primaryBtnHover;
        z-index: -1; 
        transition: width 0.4s cubic-bezier(0.21, 0.9, 0.22, 1);
    }

    &:hover::after {
        width: 100%;
    }
}
//* END BUTTON