@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
:root {
  --microtip-font-size: .8rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem/1.5 "Open Sans", sans-serif;
  color: #343a40;
  background-color: #e9ecef;
}

a {
  text-decoration: none;
  background-color: transparent;
  color: unset;
}

h1, h2 {
  font-family: "Proza Libre", sans-serif;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
}

h2 {
  font-size: 1.8rem;
}
@media (min-width: 768px) {
  h2 {
    font-size: 2rem;
  }
}

h3 {
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.4rem;
  }
}

.wrapper {
  position: relative;
  padding: 0 15px;
  width: 100%;
}
@media (min-width: 768px) {
  .wrapper {
    padding: 0 70px;
  }
}
.wrapper.gradient {
  background: linear-gradient(to right, #2b5876, #4e4376);
}
.wrapper.contact, .wrapper.footer {
  text-align: center;
  color: #f8f9fa;
}
.wrapper.contact {
  padding-top: 25px;
  padding-bottom: 25px;
}
.wrapper.footer {
  padding-bottom: 20px;
}

.navbar {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .nav-brand {
  position: absolute;
  top: 20px;
  left: 15px;
  width: 80%;
  height: 24px;
  color: #343a40;
  font: 1.5rem "Caveat", cursive;
}
@media (min-width: 768px) {
  .navbar .nav-brand {
    left: 70px;
  }
}
@media (min-width: 992px) {
  .navbar .nav-brand {
    position: relative;
    top: unset;
    left: unset;
    width: 27%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
.navbar .nav-items {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 73%;
  height: 100%;
}
.navbar .nav-items .nav-link {
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  padding: 7px 12px;
  margin-right: 15px;
  color: #f8f9fa;
  z-index: 0;
}
.navbar .nav-items .nav-link:last-child {
  margin-right: 0;
}
.navbar .nav-items .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0;
  margin: auto;
  height: 2px;
  background: #f8f9fa;
  transition: width 0.3s cubic-bezier(0.21, 0.9, 0.22, 1);
}
.navbar .nav-items .nav-link:hover::after {
  width: 100%;
  transition: width 0.8s cubic-bezier(0.21, 0.9, 0.22, 1);
}
@media (max-width: 991.98px) {
  .navbar .nav-items {
    position: fixed;
    padding-top: 55px;
    width: 100%;
    top: 0;
    right: 0;
    background: #17a2b8;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-clip-path: circle(0 at calc(100% - 35px) 25px);
            clip-path: circle(0 at calc(100% - 35px) 25px);
    transition: -webkit-clip-path 1.2s ease-out;
    transition: clip-path 1.2s ease-out;
    transition: clip-path 1.2s ease-out, -webkit-clip-path 1.2s ease-out;
    z-index: 2;
    opacity: 0.9;
  }
  .navbar .nav-items .nav-link {
    padding: 0.8rem 100%;
    transform: translateX(250px);
    opacity: 0;
    margin-right: 0;
  }
  .navbar .nav-items .nav-link:nth-child(1) {
    transition: opacity 0.5s ease 0.2s, transform 1.2s ease;
  }
  .navbar .nav-items .nav-link:nth-child(2) {
    transition: opacity 0.5s ease 0.3s, transform 1.2s ease;
  }
  .navbar .nav-items .nav-link:nth-child(3) {
    transition: opacity 0.5s ease 0.4s, transform 1.2s ease;
  }
  .navbar .nav-items .nav-link:nth-child(4) {
    transition: opacity 0.5s ease 0.5s, transform 1.2s ease;
  }
  .navbar .nav-items .nav-link:nth-child(5) {
    transition: opacity 0.5s ease 0.6s, transform 1.2s ease;
  }
  .navbar .nav-items .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: unset;
    margin: unset;
    height: unset;
    background: transparent;
    z-index: -1;
    transition: background 0.6s cubic-bezier(0.21, 0.9, 0.22, 1);
  }
  .navbar .nav-items .nav-link:hover::after {
    background: #f8f9fa;
    transition: background 1.5s cubic-bezier(0.21, 0.9, 0.22, 1);
  }
  .navbar .nav-items .nav-link:hover {
    color: #343a40;
  }
  .navbar .nav-items .nav-link.open {
    opacity: 1;
    transform: translateX(0);
  }
  .navbar .nav-items.open {
    -webkit-clip-path: circle(90vh at 50% 50%);
            clip-path: circle(90vh at 50% 50%);
  }
  .navbar .nav-toggle {
    position: absolute;
    top: 20px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50px;
    height: 24px;
    cursor: pointer;
    z-index: 3;
  }
  .navbar .nav-toggle .line {
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #f8f9fa;
    opacity: 1;
    transition: transform 0.5s, opacity 0.6s ease;
  }
  .navbar .nav-toggle .line:nth-child(1) {
    transform-origin: 0 0;
  }
  .navbar .nav-toggle .line:nth-child(3) {
    transform-origin: 0 100%;
  }
  .navbar .nav-toggle .line.open:nth-child(1) {
    transform-origin: 0 0;
    transform: rotate(45deg) translate(-2px, -1px);
  }
  .navbar .nav-toggle .line.open:nth-child(2) {
    opacity: 0;
    transform: translateX(-15px);
  }
  .navbar .nav-toggle .line.open:nth-child(3) {
    transform-origin: 0 100%;
    transform: rotate(-45deg) translate(-3px, 1px);
  }
  .navbar .nav-toggle.open {
    position: fixed;
    top: 20px;
    right: 15px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .navbar .nav-toggle {
    right: 60px;
  }
  .navbar.open {
    right: 60px;
  }
}

main .wrapper {
  margin: 80px 0;
}
main .wrapper:first-child {
  margin: unset;
}
main .wrapper:nth-child(2) {
  margin: 50px 0 80px 0;
}
main .wrapper:last-child {
  margin: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
}
.hero .hero-text {
  order: 1;
  text-align: center;
}
.hero .hero-text h1 {
  position: relative;
  display: inline-block;
  color: #f8f9fa;
  margin: 25px 0 20px 0;
  text-shadow: -1px 1px #212529;
  z-index: 0;
}
.hero .hero-text h1::after {
  content: "";
  position: absolute;
  left: -7px;
  right: 10px;
  top: 18px;
  bottom: 5px;
  background: #17a2b8;
  z-index: -1;
}
.hero .hero-text p {
  color: #f8f9fa;
  line-height: 2;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .hero .hero-text p {
    font-size: 1.2rem;
  }
}
.hero .hero-img {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.hero .hero-img .hero-img-detail {
  width: 63%;
  height: auto;
}
@media (min-width: 576px) {
  .hero .hero-img .hero-img-detail {
    width: 50%;
  }
}
@media (min-width: 768px) {
  .hero .hero-img .hero-img-detail {
    width: 38%;
  }
}
@media (min-width: 992px) {
  .hero .hero-img .hero-img-detail {
    width: 63%;
  }
}
@media (min-width: 992px) {
  .hero {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .hero .hero-text {
    order: 0;
    flex-basis: 50%;
    text-align: left;
  }
  .hero .hero-text h1 {
    margin-bottom: 20px;
  }
  .hero .hero-text p {
    margin-bottom: 25px;
  }
  .hero .hero-img {
    order: 1;
    flex-basis: 50%;
    margin-bottom: 0;
  }
}

.skills-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skills-icons div {
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
.skills-icons div svg {
  width: 4em;
  height: 4em;
}
.skills-icons i {
  font-size: 5em;
  margin: 0 15px;
}
.skills-icons i:hover {
  color: #17a2b8;
}

.project-card-main, .experience-card-main, .skills-icons, .contact-info {
  margin: 30px 0;
}

.project-card, .experience-card {
  background-color: #f8f9fa;
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.3);
  padding: 20px 30px;
  margin: 5px 0;
  border-radius: 5px;
}

.project-card-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.project-card-main .project-card {
  flex-basis: 100%;
  transition: transform 0.2s cubic-bezier(0.21, 0.9, 0.22, 1);
  cursor: pointer;
}
.project-card-main .project-card:hover {
  box-shadow: 0 10px 30px -15px rgba(0, 0, 0, 0.6);
  transform: translateY(-3px);
}
.project-card-main .project-card .project-name, .project-card-main .project-card .project-desc {
  margin-bottom: 10px;
}
.project-card-main .project-card .tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.project-card-main .project-card .tags .tag {
  border-radius: 3px;
  padding: 3px 9px;
  margin: 5px 3px;
  background: #e9ecef;
  white-space: nowrap;
}
@media (min-width: 992px) {
  .project-card-main {
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .project-card-main .project-card {
    flex-basis: 49.3%;
  }
}

.experience-card-main .experience-card .experience-card-name {
  display: flex;
  margin-bottom: 20px;
}
.experience-card-main .experience-card .experience-card-name .experience-card-name-left-logo {
  width: 48px;
  height: 48px;
}
.experience-card-main .experience-card .experience-card-name .experience-card-name-left-logo img {
  width: 100%;
}
.experience-card-main .experience-card .experience-card-name .experience-card-name-right {
  margin-left: 20px;
}
.experience-card-main .experience-card .experience-card-desc ul {
  margin: 10px 30px;
  line-height: 2;
}

.contact-info {
  margin-bottom: 0;
}
.contact-info > *:not(:last-child) {
  margin: 20px 0;
}
.contact-info > :last-child {
  padding-bottom: 20px;
}
.contact-info .profile-photo img {
  border-radius: 50%;
  border: 5px solid #f8f9fa;
  width: 10rem;
  height: 12rem;
}
.contact-info .contact-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact-info .contact-list .contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 2.8rem;
  width: 2.8rem;
  font-size: 1.8rem;
  border: 2px solid #f8f9fa;
  border-radius: 50%;
  margin: 5px;
  transition: transform 0.15s ease-out;
}
.contact-info .contact-list .contact-icon:first-child {
  margin-left: unset;
}
.contact-info .contact-list .contact-icon:last-child {
  margin-right: unset;
}
.contact-info .contact-list .contact-icon.github:hover, .contact-info .contact-list .contact-icon.linkedin:hover, .contact-info .contact-list .contact-icon.google:hover, .contact-info .contact-list .contact-icon.instagram:hover, .contact-info .contact-list .contact-icon.facebook:hover, .contact-info .contact-list .contact-icon.twitter:hover {
  transform: scale(1.15);
}
.contact-info .contact-list .contact-icon.github {
  background-color: #333;
}
.contact-info .contact-list .contact-icon.linkedin {
  background-color: #0e76a8;
}
.contact-info .contact-list .contact-icon.google {
  background-color: #ea4335;
}
.contact-info .contact-list .contact-icon.instagram {
  background-color: #e1306c;
}
.contact-info .contact-list .contact-icon.facebook {
  background-color: #3b5998;
}
.contact-info .contact-list .contact-icon.twitter {
  background-color: #1da1f2;
}

.footer i.fas:last-child {
  color: #e31b23;
}

.wrapper .section-menu {
  overflow: hidden;
}
.wrapper .section-menu span {
  position: relative;
  display: flex;
  align-items: center;
}
.wrapper .section-menu span::after {
  content: "";
  position: absolute;
  left: calc(100% + 10px);
  width: 2000px;
  height: 2px;
  background: linear-gradient(to right, #2b5876, #4e4376);
}

.hero-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 8px 20px;
  border-radius: 4px;
  border: 2px solid transparent;
  background-color: transparent;
  color: #f8f9fa;
  border-color: #17a2b8;
  z-index: 0;
}
.hero-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #17a2b8;
  z-index: -1;
  transition: width 0.4s cubic-bezier(0.21, 0.9, 0.22, 1);
}
.hero-btn:hover::after {
  width: 100%;
}
.hero-btn:active, .hero-btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
}

.top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  color: #f8f9fa;
  background: #17a2b8;
  border-radius: 20%;
  border: none;
  outline: none;
  z-index: 99;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background 0.3s ease-out;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.top-btn:hover {
  background: #343a40;
}